<form [formGroup]="formBuscarEstudante">
  <mat-card>
      <mat-card-content fxLayout="row">

          <!-- name -->
          <mat-form-field>
              <mat-label>Nome</mat-label>
              <input id="nomeBuscar" formControlName="nomeBuscar" matInput placeholder="Nome" type="text" />
              <mat-error *ngIf="formBuscarEstudante.controls['nomeBuscar'].hasError('required')">
                  Nome é obrigatório
              </mat-error>
          </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
          <button color="primary" mat-raised-button (click)="voltar()">
              Voltar
          </button>
          <button color="primary" mat-raised-button (click)="buscarEstudante()">
            Buscar
        </button>

      </mat-card-actions>
  </mat-card>
</form>




        <h4>Estudantes</h4>

        <table [border]="1" style="width: 250px" [cellPadding]="0" [cellSpacing]="0">
            <thead class="text-gray">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>RM</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudante of estudantes">
                    <td>{{estudante.id}}</td>
                    <td>{{estudante.name}}</td>

                    <td>{{estudante.rm}}</td>

                    <td><button mat-raised-button color="primary" (click)="cadastrarTransacao(estudante.id)">Cadastrar</button></td>

                </tr>
            </tbody>
        </table>

